# Environment file template
# Copy to .env and update with your actual values

# Database
DATABASE_URL=postgresql://postgres:Password123@localhost:5432/healthsystem_db

# Secret keys
ACCESS_TOKEN_SECRET_KEY=f0242c85b7572b12
REFRESH_TOKEN_SECRET_KEY=d3a254ee63432d2c
SESSION_SECRET_KEY=1314df2e19712ad0

#Google OAuth
GOOGLE_CLIENT_ID=xxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxx
GOOGLE_REDIRECT_URI=http://localhost:3000/login/google/callback

# Server
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost
CORS_URL=http://localhost:3000
CHATBOT_SERVICE_URL=http://localhost:8080

# Email configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=xxxxxx
EMAIL_PASS=xxxxxx
EMAIL_FROM=xxxxxx

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME=xxxxxx
CLOUDINARY_API_KEY=xxxxxx
CLOUDINARY_API_SECRET=xxxxxx

# VN-PAY
VNPAY_TMN_CODE=xxxxxx
VNPAY_HASH_SECRET=xxxxxx
VNPAY_URL=xxxxxx
VNPAY_RETURN_URL=xxxxxx